{% import '_includes/forms.twig' as forms %}

{{ forms.autosuggestField({
  first: true,
  label: 'Account ID'|t('cloudflare-stream'),
  instructions: 'Find your Account ID in the <a href="https://dash.cloudflare.com/" target="_blank">Cloudflare Dashboard</a>'|t('cloudflare-stream'),
  name: 'accountId',
  value: settings.accountId,
  errors: settings.getErrors('accountId'),
  required: true,
  suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
  label: 'API Token'|t('cloudflare-stream'),
  instructions: 'Create a <a href="https://dash.cloudflare.com/profile/api-tokens" target="_blank">Cloudflare API Token</a> with the <code>Stream: Read</code> and <code>Stream: Edit</code> permissions.'|t('cloudflare-stream'),
  name: 'apiToken',
  value: settings.apiToken,
  errors: settings.getErrors('apiToken'),
  required: true,
  suggestEnvVars: true
}) }}

{{ forms.lightswitch({
  label: 'Upload videos to Cloudflare Stream as soon as the asset is created'|t('cloudflare-stream'),
  name: 'autoUpload',
  on: settings.autoUpload,
}) }}

<br/>

{{ forms.lightswitch({
  label: 'Upload videos to Cloudflare Stream usign form data instead of via the asset`s url'|t('cloudflare-stream'),
  name: 'useFormUpload',
  on: settings.useFormUpload,
}) }}
