<p>Uploading <strong>{{ value.meta.name }}</strong> to your Cloudflare Stream account...</p>
<p>Refresh periodically this page periodically to check if the video is ready.</p>
<small>Uid {{ value.uid }}</small>